.App {
    padding: 40px;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    line-height: calc(10px + 2vmin);
    color: white;
}

a {
    color: #61dafb;
}

.todo {
    display: flex;
    align-items: center;
}

.delete-button {
    display: inline-block;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding-left: 0px;
}
ol li {
    counter-increment: my-awesome-counter;
}
ol li::before {
    content: counter(my-awesome-counter) ". ";
}
